* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-box {
    background-color:#f1f5f9 ;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-box .link {
    margin: 0 0.5rem;
}

.link {
  color: #0066cc;
  text-decoration: none;
}

.link:hover {
  color: #003366;
}


h2 {
    color: aliceblue;
    padding: 1rem;
}

.descriptionProduct {
    color: aliceblue;
    margin-top: 2rem;
    text-align: center;
}


.flex-container {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    width: calc((100% - 2rem) / 3);
    background-color: #333;
    text-align: center; 
}

.card .image {
    width: 50%;
    padding: 0 1rem;
}

.card p {
    padding: 0.5rem;
}