* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: aliceblue;
}

.navbar-box {
    background-color: #2a2f33;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-box .link {
    margin: 0 0.5rem;
}

.navbar-box .link.active {
    color: #00BFFF;
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.6);
}

.link {
    color: #87CEFA;
    text-decoration: none;
}

.link:hover {
    color: #FFFFFF;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

h2 {
    color: aliceblue;
    padding: 1rem;
}

.descriptionProduct {
    color: aliceblue;
    margin-top: 2rem;
    text-align: center;
}


.flex-container {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    width: calc((100% - 2rem) / 3);
    background-color: #333;
    text-align: center;
}

.card .image {
    width: 50%;
    padding: 0 1rem;
}

.card p {
    padding: 0.5rem;
}


.navigation-buttons {
    display: flex;
    margin: 1rem 8rem;
    gap: 1rem;
}

.navigation-buttons:hover {
    color: #FFFFFF;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}